
<div class="converter-wrapper">
	<div class="inputs">
		<div class="inputs--drop-area" id="drop-area">
			<h3>Перетягніть сюди html - виписку з ощадбанку</h3> 		
		</div>

		<div class="inputs--load-field">
			<label for='htmlfile' class="inputs--filed-label">
				Або оберіть файл
			</label>
			<input type="file" name="htmlfile" id="htf" />
		</div>

		<div class="loaded-filename">
		</div>
	</div>


	<div id='results' class="results">
			<div>results</div>	
	</div>


</div>

<%= javascript_pack_tag 'converter_oshchad/converter_oshchad_html' %>    