.rests-table {
	width: auto !important;
	th{
		width: 240px;
		padding: 0;
		.bank-name{
			margin: auto;
		}
		.rest-val{
			display: inline;
			width: 80px;
			border: 1px solid gray;
			margin: 0px;
			padding: 0px;
		};

	}
}
