.converter-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.inputs{
  width: 800px;
  background-color: rgb(236, 236, 236);
  margin: 10px;
  border-radius: 5px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0 0 4px 4px  rgb(236, 236, 236);
  
  &--drop-area{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px 4px   rgba(0, 0, 0, 0.2);
    text-align: center;
    
  }
  
  &--load-field{
    padding: 10px;
    text-align: center;
    
  }

}

.results{
  &--table{
    th, td{
      border: 1px solid gray;
    }
  }
}