// Place all the styles related to the movements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movements-table{
	th{
		border:solid gray 1px;
		width: 80px;
	}
	td{
		text-align: right;
		padding: 2px;		
	}
	td.i-text{
		text-align: left;
	}

	.c1{
		width:2em;
	}
	.clong{
		min-width: 10em;
	}
	.cshort{
		min-width: 10em;
	}

	.movementsTotal{
		/*font-weight: bold;*/
		background-color: #dae0e5;
	}

}