// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#rolesList{
	position: fixed;
}

#functions{
	position: fixed;
	margin-top: 200px;
}

.draggable{
	cursor:grab;
	z-index: 1000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;  
}

.userRoles{
	background-color: #F7F8F9;
}

.addArea, .deleteArea{
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  background-color: #F7F8F9;
  border-color: #A7A8A9;
  padding: 0.5rem 1rem;
  margin: 0;
  font-size: 1rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: none;
}

.deletable:hover{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba( 255,0, 0, 0.97);
    -moz-box-shadow:    0px 0px 10px 0px rgba( 255,0, 0, 0.97);
    box-shadow:         0px 0px 10px 0px rgba( 255,0, 0, 0.97);
}

.card-block{
  padding: 1.25rem;
}