.day-message {
	border: solid;
	background-color: yellow;
}
.day-date-picker {
	width: 10em;
}

.row hr {
	border: none;
  height: 1px; 
  background-image: linear-gradient(to left, #fff, #ddd, #fff);
}