.day-message {
	border: solid;
	background-color: yellow;
}
.day-date-picker {
	width: 10em;
}

.my-hr-center {
	border: none;
  height: 1px; 
  background-image: linear-gradient(to left, #fff, #ddd, #fff);
}

.my-hr-left {
	border: none;
  height: 1px; 
  background-image: linear-gradient(to right, #ddd, #fff);
}

.my-vButton {
	/*padding: 0px;*/
	/*margin: 0px;*/
	height: 100%;
	width: 100%;
}